<div id = "mathMenuWrapper">
  <table id="mathTable">
    <tr>
      <td class="mathButton" data-val="$\pm$ ">$\pm$</td>
      <td class="mathButton" data-val="$\exists$ ">$\exists$</td>
    </tr>
  </table>

  <select id="mathMenu">
    <option value="default">Default</option>
    <option value="GreekLetters">Greek Letters</option>
  </select>

  <div class="helpButton">?</div>
</div>
