<div id = "mathMenuWrapper">
  <a href="https://oeis.org/wiki/List_of_LaTeX_mathematical_symbols" target="_blank"><div class="helpButton">?</div></a>

  <select id="mathMenu">
    <option value="default" selected="selected">Default</option>
    <option value="operators">Operators</option>
    <option value="GreekLetters">Greek Letters</option>
  </select>

  <table id="mathTable">
  </table>
</div>
