<div id = "mathMenuWrapper">
  <select id="mathMenu">
    <option value="default" selected="selected">Default</option>
    <option value="operators">Operators</option>
    <option value="GreekLetters">Greek Letters</option>
  </select>

  <div class="helpButton">?</div>

  <table id="mathTable">
  </table>
</div>
