<div id="message">
    <div id="messageHeader"><p><strong>Everyone Is Named Gerbil</strong>
        <span id="timeStamp"><%=message.created_at.strftime("%I:%M %p")%></span><p>
    </div>
    <div id="messageContent"><%=message.content%></div>
</div>
