<h1>Chatrooms</h1>
<%= render partial: 'chatroom_form', locals: {chatroom: @chatroom} %>

<!--
<ol id="chatrooms">
    <%= render @chatrooms%>
</ol>
-->

<ol id="chatrooms">
  <% @chatrooms.each do |room| %>
      <%= render room %>
      <% if !current_user.nil? && current_user.userType == 'Admin' %>
         <p>&nbsp;&nbsp; <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
      <% end %>
  <% end %>
</ol>
