<div id="container">
    <h1><%= @chatroom.roomname %></h1>
    <div id="messageContainer" class="box">
        <%= render partial: 'messages/message', collection: @chatroom.messages%>
    </div>


    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
</div>
