<li>
  <%= link_to notification.event, chatroom_path(notification.message.chatroom.id) %>
  <span class="timeStamp"> <%=local_time_ago(notification.created_at)%> </span>
  <ul><%=notification.message.content%></ul>

</li>
