<!DOCTYPE html>
<html>
<head>
    <title>Erdos</title>
    <style>
        body {
            background-color: #41b799;
            padding: 0px;
            margin: 0px;
            text-align: center;
            overflow: hidden;
        }

        input[type=text], input[type=password] {
            padding: 10px;
            display: inline-block;
            width: 100%;
            margin: 8px 0;
            border-radius: 0px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            line-height: 2em;
        }
    </style>
</head>

<body>
    <div class="outer">
    <div class="middle">
    <div class="inner">
        <div class="welcomePage">
            <img src="/assets/login-ab29bec87a47633df2aa63f9ced2cf7a74fdaa61f07b77290405d93049380cc1.png" id="welcomeLogo" alt="erdos" usemap="#buttonMap">
            <map name="buttonmap" id="buttonmap">
                <area shape="rect" id="button1" coords="80,180,313,328" href="/signup" alt="signup">
                <area shape="rect" id="button2" coords="80,330,313,475" href="/login" alt="login">
            </map>
        </div>
    </div>
    </div>
    </div>
</body>
</html>
