<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #41b799;
            padding: 0px;
            margin: 0px;
            text-align: center;
            overflow: hidden;
        }

        input[type=text], input[type=password] {
            padding: 10px;
            display: inline-block;
            width: 100%;
            margin: 8px 0;
            border-radius: 0px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            line-height: 2em;
        }
    </style>
</head>

<body>
    <div class="outer">
    <div class="middle">
    <div class="inner">
        <div class="welcomePage">
            <a id="overlay1" class="overlay" href="/signup"></a>
            <a id="overlay2" class="overlay" href="/login"></a>
            <img src="/assets/login-ab29bec87a47633df2aa63f9ced2cf7a74fdaa61f07b77290405d93049380cc1.png" id="welcomeLogo" alt="erdos">
        </div>
    </div>
    </div>
    </div>

</body>
</html>
