<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #41b799;
            padding: 0px;
            margin: 0px;
            text-align: center;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="outer">
    <div class="middle">
    <div class="inner">
        <div class="welcomePage">
          <%=image_tag "logo.png", :id=> "homeLogo", :alt=>'erdos'%>
        </div>
    </div>
    </div>
    </div>

</body>
</html>
