<!DOCTYPE html>
<html>
<head>
    <title>Erdos</title>
    <style>
        body {
            background-color: #41b799;
            padding: 0px;
            margin: 0px;
            text-align: center;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="outer">
    <div class="middle">
    <div class="inner">
        <div class="welcomePage">
            <img src="/assets/logo-31226dfe0ddfc3baac39f33bcf9dafeaf24f95aef659aac5c5aaf04b999711f7.png" id="homeLogo" alt="erdos">
        </div>
    </div>
    </div>
    </div>

</body>
</html>
