/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "chatrooms";
 @import "messages";
 @import "users";


 $green: #03a079;
 $main-green: #41b799;
 $light-green: #55c6aa;
 $yellow: #fbca35;
 $dark-blue: #182031;
 $sidebar-width: 250px;

 /*Styling placeholder text for input boxes*/
 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     font-style: italic;
     letter-spacing: 2px;
 }
 ::-moz-placeholder { /* Firefox 19+ */
     font-style: italic;
     letter-spacing: 2px;
 }
 :-ms-input-placeholder { /* IE 10+ */
     font-style: italic;
     letter-spacing: 2px;
 }
 :-moz-placeholder { /* Firefox 18- */
     font-style: italic;
     letter-spacing: 2px;
 }

 body {
     overflow: auto;
 }

 #sideBarOpener {
     position: fixed;
     float: left;
     background-color: $dark-blue;
     color: #bbb;
     height: 50px;
     width: 50px;
     margin-top: 5px;
     z-index: 2;
     font-size: 32px;
     opacity: 0.5;
     transition: 0.2s;
     display: none;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     font-family: 'Fira Sans', sans-serif;
     letter-spacing: 2px;
     padding: 3px 0 0 5px;
 }

 #sideBarOpener:hover{
     opacity: 1.0;
     color: $yellow;
     background-color: lighten($dark-blue, 10%);
 }

 #sidebar {
     padding: 0px;
     float: left;
     min-height: 100vh;
     max-height: 100vh;
     position: fixed;
     width: $sidebar-width;
     background-color: $dark-blue;
     z-index: 1;
     transition: 0.5s;
     overflow-x: hidden;
 }

 .sideNav a {
     font-family: 'Fira Sans', sans-serif;
     padding: 5px 5px 5px 32px;
     text-decoration: none;
     font-size: 18px;
     color: #bbb;
     display: block;
     transition: 0.3s;
     letter-spacing: 2px;
     text-align: left;
 }

 .sideNav a:hover {
     color: $yellow;
     background-color: lighten($dark-blue, 10%);
     letter-spacing: 2px;
 }

 #closeBtn {
     font-size: 36px;
     text-align: right;
     padding-right: 30px;
 }

 #container {
     float: right;
     position: absolute;
     left: $sidebar-width;
     max-height: 100vh;
     height: 100vh;
     width: calc(100% - #{$sidebar-width});
     max-width: 100vw;
     z-index: 0;
     transition: 0.5s;
 }
