.mathButton {
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #aaa;
  cursor: hand;
}

.mathButton:hover {
  background-color: #2AA0C7;
  color: #FFFFFF;
  cursor: hand;
}

.helpButton {
  text-align: center;
  border-radius: 25px;
  border-color: #4B5D63;
  border-width: 3px;
  border-style: solid;
  width: 25px;
  height: 25px;
  line-height: 19px;
  font-weight: bold;
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  cursor: hand;
}

#mathMenuWrapper {
  width: 100%;
  margin-bottom: 10px;
}

#mathTable {
  border: 0px;
  display: inline-block;
  float: left;
  table-layout: auto;
  margin-right: 10px;
  padding: 0px;
}

#mathTable td {
  margin: 0px;
  cursor: hand;
}

#mathMenu {
  display: inline-block;
  float: left;
  text-align: center;
  margin-right: 10px;
}

#mathTyping {
  height: 2.5em;
  padding: 5px;
}
