// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header-height: 60px;
$footer-height: 100px;

#messageContainer {
    position: absolute;
    max-width: 100vw;
    background-color: #fff;
    overflow-y: scroll;
    top: $header-height;
    bottom: $footer-height;
    left: 0;
    right: 0;
    margin: auto;
}

#inputForm {
    position: absolute;
    background-color: #fff;
    bottom: 0;
    height: $footer-height;
    min-width:80%;
    max-width: 100vw;
    left: 0;
    right: 0;
    padding: 15px 0px;
    margin: 20px 0 auto;
}

#message {
    border-bottom: 1px solid #aaa;
    padding: 5px;
    padding-left: 15px;
}

#messageHeader {
    margin-bottom: 5px;
}

#timeStamp {
    color: #777;
    margin-left: 5px;
    font-size: 10px;
}

#messageContent {
    margin-top: 0;
}

.form-control {
    max-width: 98%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    resize: none;
    border: 3px solid #ccc;
}
