// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #03a079;
$main-green: #41b799;

#usersContainer {
    padding: 15px;
}

h1.formTitle {
    padding: 10px;
    margin: 0;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    color: #41b799;
}

body.users_new, body.users_create {
    padding: 0px;
    margin: 0px;
    text-align: center;
}
